@keyframes ldio-pq0n6qtbgke-1 {
    0% {
        top: 10px;
        height: 80px;
    }
    50% {
        top: 25px;
        height: 50px;
    }
    100% {
        top: 25px;
        height: 50px;
    }
}
@keyframes ldio-pq0n6qtbgke-2 {
    0% {
        top: 13.749999999999993px;
        height: 72.50000000000001px;
    }
    50% {
        top: 25px;
        height: 50px;
    }
    100% {
        top: 25px;
        height: 50px;
    }
}
@keyframes ldio-pq0n6qtbgke-3 {
    0% {
        top: 17.5px;
        height: 65px;
    }
    50% {
        top: 25px;
        height: 50px;
    }
    100% {
        top: 25px;
        height: 50px;
    }
}
.ldio-pq0n6qtbgke div {
    position: absolute;
    width: 15px;
}
.ldio-pq0n6qtbgke div:nth-child(1) {
    left: 17.5px;
    background: #e15b64;
    animation: ldio-pq0n6qtbgke-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.2s;
}
.ldio-pq0n6qtbgke div:nth-child(2) {
    left: 42.5px;
    background: #f8b26a;
    animation: ldio-pq0n6qtbgke-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.1s;
}
.ldio-pq0n6qtbgke div:nth-child(3) {
    left: 67.5px;
    background: #abbd81;
    animation: ldio-pq0n6qtbgke-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds;
}

.loadingio-spinner-pulse-ug80c6zex1 {
    width: 24px;
    height: 24px;
    // display: inline-block;
    overflow: hidden;
    background: none;
    margin-left: 100px;
}
.ldio-pq0n6qtbgke {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.24);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-pq0n6qtbgke div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */
