.wrapper {
    color: rgba(41, 41, 41, 1);
    width: 100%;
    height: fit-content;
    /* background-image: url('../src//assets/VAC_bg.jpg'); */
}

.tree-container {
    background: rgba(242, 242, 242, 1);
    width: 500px;
    height: 800px;
    margin: 0 auto;
    padding: 16px;
    overflow-y: auto;
}

h2 {
    text-align: center;
    padding: 16px;
}
